@font-face {
  font-display: fallback;
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Inter-SemiBold.woff") format("woff");
}
