/* BODY */
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
.container {
  display: flex;
  max-width: 1140px;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 3.2rem;
  margin: 0 auto;
}
.main-container {
  min-height: 50vh;
  margin: 6rem 0;
}

/* HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &-logo {
    font-family: var(--logo-font);
    font-size: 4.8rem;
    letter-spacing: -0.08em;
  }

  &-search {
    padding: 1.2rem;
    display: flex;
    flex-basis: 35%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--search);
    border-radius: 5px;

    @media screen and (max-width: 600px) {
      & {
        flex-basis: 100%;
        order: 1;
        margin-top: 2rem;
      }
    }
  }

  &-search__input {
    color: var(--primary-text-color);
    background-color: inherit;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    outline: 0;
  }
  &-search__button {
    border: none;
    margin-right: 1rem;
    background-color: var(--primary-text-background);
    background-color: inherit;
  }
}

.search-icon {
  fill: var(--primary-text-color);
  width: 1.8rem;
  height: 1.8rem;
}

.mode-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 3px;
}

.mode-icon {
  height: 22px;

  &--dark {
    fill: var(--primary-text-color);
  }
  &--light {
    fill: var(--primary-text-color);
  }
}
/* TABLE */
.table {
  width: 100%;
  align-self: center;
  padding: 0 1rem;
  border-collapse: separate;
  border-spacing: 0 1rem;

  & th {
    color: var(--loading);
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.table-body {
  & tr {
    cursor: pointer;
  }

  & td {
    padding: 2.2rem 1rem;
    color: var(--heading);
    font-family: var(--secondary-font);
    font-size: 2rem;
    text-align: center;
  }
  & tr {
    padding: 2.5rem 1rem;
    background-color: var(--primary-text-background);
    border-radius: 5px;
  }
}

.pagination {
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.8rem;

  &-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-text-background);
    border-radius: 5px;
    color: var(--heading);
    cursor: pointer;
    font-weight: 700;
  }

  &-info {
    margin: 0 2rem;
    font-weight: 900;
  }
}

/* FOOTER */
.footer {
  padding: 2.2rem 0;
  border-top: 1px solid #777;
  text-align: center;

  h1 {
    margin-bottom: 1.8rem;
  }

  &-links {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  a {
    font-size: 2rem;
  }

  .footer-icon {
    fill: var(--loading);
    height: 3.2rem;
  }
}

/* COIN */
.btn-back {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: var(--heading);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: bold;
}

.coin-name {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.coin-detail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;

  @media screen and (max-width: 650px) {
    & {
      justify-content: space-between;
    }
  }
}
.coin-detail__box {
  display: flex;
  overflow: hidden;
  flex-basis: 20%;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: var(--primary-text-background);
  border-radius: 5px;
  box-shadow: 0px 2px 20px var(--shadow);

  @media screen and (max-width: 650px) {
    & {
      flex-basis: 100%;
    }
  }
}

.coin-detail__box--middle {
  flex-basis: 40%;
  margin-right: 3rem;
  margin-left: 3rem;

  @media screen and (max-width: 650px) {
    & {
      flex-basis: 100%;
      margin: 2rem 0;
    }
  }
}

.coin-detail__box-label {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.coin-detail__box-info {
  font-size: 3.6rem;
  text-align: center;
}
.coin-detail__text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.coin-detail__text-label {
  font-size: 2rem;
  font-weight: 500;
}
.coin-detail__text-info {
  font-size: 3.2rem;
}

.coin-detail--text {
  width: 40%;
  margin-right: 5rem;

  @media screen and (max-width: 650px) {
    & {
      flex-basis: 100%;
    }
  }
}

.coin-header {
  display: flex;
  align-items: center;
}
.coin-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.coin-detail__box-img {
  fill: #333;
  width: 5rem;
  height: 5rem;
  align-self: flex-end;
  margin-right: -4rem;
  margin-bottom: -2rem;
  transform: rotate(20deg);
}

.error {
  display: flex;
  justify-content: space-around;

  &-img {
    flex-basis: 40%;

    img {
      height: 35rem;
      @media screen and (max-width: 500px) {
        height: 25rem;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      font-size: 4.8rem;
      text-transform: uppercase;
    }
    a {
      font-size: 2.8rem;
    }
  }
}

.active {
  display: none;
}
